/* Markdown editor styles */

.md-input, .md-preview-source {
    /* 604 */
    width: 100%;
    min-height: 250px;
    margin: 0;
    padding: 10px;
    line-height: 2em;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.md-preview {
    width: 100%;
    min-height: 150px;
    margin: 0 -24px 10px 0px;
    padding: 8px;
    border: 2px dashed #ccc;
    box-sizing: border-box;
}

.qa-q-view-content pre,
.qa-a-item-content pre,
.md-preview pre {
    overflow: auto;
    width: 100%;
    max-height: 400px;
    padding: 0;
    border-width: 1px 1px 1px 3px;
    border-style: solid;
    border-color: #ddd;
    background-color: #eee;
}
pre code {
    display: block;
    padding: 8px;
}

.md-button-bar {
    background: #eee;
    width: 100%;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
}

.md-spacer {
    width: 1px;
    height: 20px;
    margin-left: 14px;
    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}

.md-button {
    width: 24px;
    height: 24px;
    font-size: 16px;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    text-align: center;
    list-style: none;
    cursor: pointer;
    border: 1px solid Silver;
}


.md-spacer1 {
    left: 50px;
}
.md-spacer2 {
    left: 175px;
}
.md-spacer3 {
    left: 300px;
}

.md-prompt-background {
    background-color: #000;
}
.md-prompt-dialog {
    border: 1px solid #999;
    background-color: #f5f5f5;
}
.md-prompt-dialog > div {
    font-size: 0.8em;
}
.md-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999;
    color: black;
}
.md-prompt-dialog > form > input[type="button"] {
    border: 1px solid #888;
    font-size: 11px;
    font-weight: bold;
}
#md-editor-upload-form {
    position: fixed;
    top: 15%;
    width: 30%;
    height: 200px;
    margin-left: 15%;
    display: none;
    padding: 20px;
    background: #eee;
    border: 1px solid #ccc;
}
.md-editor-upload-form-browse {
    padding-top: 10px;
    padding-bottom: 10px;
}
.md-editor-upload-form-browse + input{
    margin-bottom: 20px;
}
